//-------------------------------------------------------
// This file controls which animations will be
// output in final CSS. Before you can use an animation,
// you must enable it here. 
//-------------------------------------------------------

$bounce: false;
$bounceIn: false;
$bounceInDown: false;
$bounceInLeft: false;
$bounceInRight: false;
$bounceInUp: false;

$bounceOut: false;
$bounceOutDown: false;
$bounceOutLeft: false;
$bounceOutRight: false;
$bounceOutUp: false;

$fadeIn: true;
$fadeInDown: true;
$fadeInDownBig: false;
$fadeInLeft: false;
$fadeInLeftBig: false;
$fadeInRight: false;
$fadeInRightBig: false;
$fadeInUp: false;
$fadeInUpBig: false;

$fadeOut: true;
$fadeOutDown: false;
$fadeOutDownBig: false;
$fadeOutLeft: false;
$fadeOutLeftBig: false;
$fadeOutRight: false;
$fadeOutRightBig: false;
$fadeOutUp: true;
$fadeOutUpBig: false;

$flash: false;

$flip: false;
$flipInX: false;
$flipInY: false;
$flipOutX: false;
$flipOutY: false;

$headShake: false;
$heartBeat: false;
$hinge: false;
$jackInTheBox: false;
$jello: false;

$lightSpeedIn: false;
$lightSpeedOut: false;

$pulse: false;

$rollIn: false;
$rollOut: false;

$rotateIn: false;
$rotateInDownLeft: false;
$rotateInDownRight: false;
$rotateInUpLeft: false;
$rotateInUpRight: false;

$rotateOut: false;
$rotateOutDownLeft: false;
$rotateOutDownRight: false;
$rotateOutUpLeft: false;
$rotateOutUpRight: false;

$rubberBand: false;

$scaleInDown: true;
$scaleOutUp: true; 

$shake: false;

$slideInDown: false;
$slideInLeft: false;
$slideInRight: true;
$slideInUp: false;

$slideOutDown: false;
$slideOutLeft: false;
$slideOutRight: true;
$slideOutUp: false;

$swing: false;
$tada: false;
$wobble: false;

$zoomIn: false;
$zoomInDown: false;
$zoomInLeft: false;
$zoomInRight: false;
$zoomInUp: false;

$zoomOut: false;
$zoomOutDown: false;
$zoomOutLeft: false;
$zoomOutRight: false;
$zoomOutUp: false;